{% extends 'base.html.twig' %}

{% block body %}
  <h1>Modifier un auteur</h1>

  {{ form_start(formulaire) }}
    {{ form_widget(formulaire) }}
  {{ form_end(formulaire) }}

  <a href="{{ path('showAll') }}">Retour à la liste</a>
{% endblock %}